/ext/envameleon/Makefile
/ext/envameleon/mkmf.log
/ext/envameleon/*.bundle
/ext/envameleon/*.bundle.dSYM/
/ext/envameleon/*.o
/ext/envameleon/*.so
/envameleon-*.gem
/pkg/
/.bundle/
/lib/envameleon/envameleon.bundle
/lib/envameleon/envameleon.dll
/lib/envameleon/envameleon.dylib
/lib/envameleon/envameleon.so
/tmp/
/vendor/
